@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#!" class="breadcrumb">Convert Result</a>
            <a href="#!" class="breadcrumb">@Context.Request.Query["from"]</a>
            <a href="#!" class="breadcrumb">@Context.Request.Query["to"]</a>
      </div>
    </div>
  </nav>

