@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
  <footer class="page-footer blue-grey">
 
    <div class="footer-copyright">
      <div class="container">
          <div class="row center">
      Made by <a class="blue-grey-text text-lighten-3" href="#">Currency Exchanger Team</a>
            </div>
            </div>
    </div>
  </footer>