@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<NavMenu />
<!-- This is where we're going to render our content -->
<div class="container" style="flex-grow:1;">
    @Body
</div>
<!-- Footer -->
<Footer/>
